NODE_ENV=production

# DATABASE_URL menggunakan port pooled (pgbouncer / transaction mode: 6543)
DATABASE_URL="postgresql://postgres.bigdrvqilmlyfhjhjaru:GANTARA190205@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# DIRECT_URL menggunakan IPv4 Pooler Session Mode (5432) untuk migrasi Prisma di Vercel
DIRECT_URL="postgresql://postgres.bigdrvqilmlyfhjhjaru:GANTARA190205@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"

# Auth Custom
JWT_SECRET="GantaraApp2026!_SecureKey_#987654321"
JWT_EXPIRES_IN="24h"
JWT_REMEMBER_EXPIRES_IN="30d"

# Supabase Storage Integration
NEXT_PUBLIC_SUPABASE_URL="https://bigdrvqilmlyfhjhjaru.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJpZ2RydnFpbG1seWZoamhqYXJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU5NzUxMzQsImV4cCI6MjEwMTU1MTEzNH0.TYSkWqvaklXDIr082EyhO7Oprf56c5ItayKJVCdPbP8"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJpZ2RydnFpbG1seWZoamhqYXJ1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTk3NTEzNCwiZXhwIjoyMTAxNTUxMTM0fQ.t5TNkGkQEGI9LA7M0KRJebrOg91y91sO9Z1lXE2Vf4E"
STORAGE_PROVIDER=supabase