NODE_ENV=production

# Database (Mengarah ke container db dalam network docker)
DATABASE_URL="postgresql://gantara_user:gantara_pass@gantara-db:5432/gantara_prod?schema=public"
DIRECT_URL="postgresql://gantara_user:gantara_pass@gantara-db:5432/gantara_prod?schema=public"

# Auth Custom
JWT_SECRET=""
JWT_EXPIRES_IN="24h"
JWT_REMEMBER_EXPIRES_IN="30d"

# Local Storage di VPS
STORAGE_PROVIDER=local
STORAGE_LOCAL_PATH=/app/uploads
