NODE_ENV=production

# Database (MySQL / Postgres polos dari CPanel/Plesk)
# Ganti skema prisma ke mysql jika provider=mysql
DATABASE_URL="mysql://username:password@localhost:3306/gantara_db"
DIRECT_URL="mysql://username:password@localhost:3306/gantara_db"

# Auth Custom
JWT_SECRET=""
JWT_EXPIRES_IN="24h"
JWT_REMEMBER_EXPIRES_IN="30d"

# Local Storage
STORAGE_PROVIDER=local
STORAGE_LOCAL_PATH=./uploads
