NODE_ENV=production

# DATABASE_URL menggunakan port pooled (pgbouncer: 6543)
DATABASE_URL="postgresql://postgres.[username]:[password]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1"
# DIRECT_URL menggunakan port direct (5432) untuk migrasi
DIRECT_URL="postgresql://postgres.[username]:[password]@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"

# Auth Custom
JWT_SECRET=""
JWT_EXPIRES_IN="24h"
JWT_REMEMBER_EXPIRES_IN="30d"

# Supabase Storage Integration
NEXT_PUBLIC_SUPABASE_URL="https://[project-id].supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
STORAGE_PROVIDER=supabase
